body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: steelblue;
}

.title {
  margin-block: 8px;
  font-size: 46px;
  color: seashell;
}

.squares-button {
  padding: 4px 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: seashell;
  cursor: pointer;
}

.grid {
  width: 300px;
  height: 300px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.row {
  display: flex;
  flex: 1;
}

.column {
  flex: 1;
  background-color: crimson;
  border: 1px solid black;
}

@media (min-width: 600px) {
  .grid {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 1000px) {
  .grid {
    width: 700px;
    height: 700px;
  }
}
