body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: steelblue;
}

.title {
  margin-block: 8px;
  font-size: clamp(1rem, 2vw + 1rem, 2.8rem);
  color: seashell;
}

.squares-button {
  padding: 0.5em 1em;
  font-size: clamp(10px, 1vw + 3px, 16px);
  border: 1px solid black;
  border-radius: 4px;
  background-color: seashell;
  cursor: pointer;
}

.grid {
  width: clamp(275px, 50vw, 700px);
  height: clamp(275px, 50vw, 700px);
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.row {
  display: flex;
  flex: 1;
}

.column {
  flex: 1;
  background-color: crimson;
  border: 1px solid black;
}